.vscode
Documentation-GENERATED-temp

.Build
.idea
nbproject
.DS_Store
.DS_Store?

composer.lock
package-lock.json

/.php_cs
/.php_cs.cache

.ddev/**
.project/**

/var
/config
Resources/Private/geophp.phar
